# Build files
build
dist
bin

# Dependencies
vendor
node_modules

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
!.vscode/extensions.json

# Android
/android/*.iml
/android/.gradle
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/shelf
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android/app/build
/android/captures
/android/.externalNativeBuild
/android/.cxx
