# Build files
build
dist
bin

# Dependencies
vendor
node_modules

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
!.vscode/extensions.json

# Android
*.iml
.gradle
local.properties
.idea
build
captures
.externalNativeBuild
.cxx

