:root {
	--text-xs-regular: 400 0.75rem/1.5 Inter, sans-serif;
	--text-xs-medium: 500 0.75rem/1.5 Inter, sans-serif;
	--text-xs-semibold: 600 0.75rem/1.5 Inter, sans-serif;

	--text-sm-regular: 400 0.875rem/1.5 Inter, sans-serif;
	--text-sm-medium: 500 0.875rem/1.5 Inter, sans-serif;
	--text-sm-semibold: 600 0.875rem/1.5 Inter, sans-serif;

	--text-base-regular: 400 1rem/1.5 Inter, sans-serif;
	--text-base-medium: 500 1rem/1.5 Inter, sans-serif;
	--text-base-semibold: 600 1rem/1.5 Inter, sans-serif;

	--text-lg-regular: 400 1.125rem/1.5 Inter, sans-serif;
	--text-lg-medium: 500 1.125rem/1.5 Inter, sans-serif;
	--text-lg-semibold: 600 1.125rem/1.5 Inter, sans-serif;

	--text-xl-regular: 400 1.25rem/1.5 Inter, sans-serif;
	--text-xl-medium: 500 1.25rem/1.5 Inter, sans-serif;
	--text-xl-semibold: 600 1.25rem/1.5 Inter, sans-serif;

	--text-2xl-regular: 400 1.5rem/1.5 Inter, sans-serif;
	--text-2xl-medium: 500 1.5rem/1.5 Inter, sans-serif;
	--text-2xl-semibold: 600 1.5rem/1.5 Inter, sans-serif;

	--text-3xl-regular: 400 1.875rem/1.5 Inter, sans-serif;
	--text-3xl-medium: 500 1.875rem/1.5 Inter, sans-serif;
	--text-3xl-semibold: 600 1.875rem/1.5 Inter, sans-serif;

	--text-4xl-regular: 400 2.25rem/1.5 Inter, sans-serif;
	--text-4xl-medium: 500 2.25rem/1.5 Inter, sans-serif;
	--text-4xl-semibold: 600 2.25rem/1.5 Inter, sans-serif;
}

@font-face {
	font-family: Inter;
	src: url("/fonts/Inter.ttf") format("truetype-variations");
	font-weight: 1 999;
}

@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	font-weight: 100 700;
	src: url("/fonts/Material-Symbols-Rounded.woff2") format("woff2");
}

.material-symbols-rounded {
	font-family: "Material Symbols Rounded";
	font-weight: normal;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 2.25rem;
}
